modules = ["nodejs-20"]
run = "npm start"
entrypoint = "server.js"
hidden = [".git", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 4000
externalPort = 80
