modules = ["nodejs-20"]
run = "npx tsx apps/server/src/server.ts"
entrypoint = "apps/server/src/server.ts"
hidden = [".git", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npx tsx apps/server/src/server.ts"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 4000
externalPort = 80
